<div class="main-layout">
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="images/logo.png" alt="Logo SaludVida" class="logo">
    </div>

    <nav class="main-nav">
      <ul>
        <li *ngFor="let menu of navMenus" class="menu-item">

          <a *ngIf="menu.path" [routerLink]="menu.path" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact: true}" (click)="toggleMenu(menu)">
            <span class="menu-icon">{{ menu.icon }}</span>
            <span>{{ menu.name }}</span>
          </a>

          <a *ngIf="!menu.path" (click)="toggleMenu(menu)" [class.active-parent]="menu.isOpen">
            <span class="menu-icon">{{ menu.icon }}</span>
            <span>{{ menu.name }}</span>
            <span class="submenu-arrow" [class.rotated]="menu.isOpen"></span>
          </a>

          <ul class="submenu" *ngIf="menu.submenus" [class.open]="menu.isOpen">
            <li *ngFor="let submenu of menu.submenus">
              <a [routerLink]="submenu.path" routerLinkActive="active-link">{{ submenu.name }}</a>
            </li>
          </ul>

        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <a (click)="logout()" class="logout-button">
        <span>Logout</span>
        <img src="images/icono_logout.png" alt="Logout" class="logout-icon">
      </a>
    </div>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>