<div class="login-container">
    <div class="swoop-bg-1"></div>
    <div class="swoop-bg-2"></div>

    <div class="left-panel">
        <img src="images/logo-grande.png" alt="Clínica SaludVida Logo" class="main-logo">
        <h1 class="title">Recuperación de Cuenta</h1>
    </div>

    <div class="right-panel">
        <div class="login-form-wrapper">
            <h3>¿Olvidaste tu contraseña?</h3>
            <p class="instruction-text">Ingresa tu correo y te enviaremos las instrucciones.</p>
            
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Correo electrónico" required />
                </div>

                <div *ngIf="message" class="success-message">
                    {{ message }}
                </div>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <button type="submit" [disabled]="forgotForm.invalid || isLoading">
                    {{ isLoading ? 'Enviando...' : 'Enviar Enlace' }}
                </button>

                <div class="back-link">
                    <a routerLink="/login">Volver al Login</a>
                </div>
            </form>
        </div>
    </div>
</div>